.top-navbar{
 position: absolute;
 z-index: 10;
}

.top-navbar .navbar{
 /* padding: 15px 0px; */
 position: fixed;
 width: 100%;
 transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
 color: #010101;
 font-size: 18px;
 padding: 0px 20px;
 border-radius: 4px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
 background: #d0a772;
 color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
 background: #d0a772;
 color: #ffffff;
 border-radius: 4px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
 border: none;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
 background: #d0a772;
 color: #ffffff;
}
.navbar-light .navbar-toggler:hover{
 background: #cfa671;
}